@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Leia sobre <a href="https://docs.microsoft.com/aspnet/core">criar aplicativos da Web com o ASP.NET Core</a>.</p>
</div>
